body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-color: rgba(231, 218, 175, 0.479);
    color: rgb(26, 9, 9);
    line-height: 1.6em;
}

.container{
    width: 50%;
    margin: auto;
}

#first_part{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#menu ul{
    display: flex;
    justify-content:center;
}

#r_header li{
    list-style: none;
    display: inline-block;
    margin: 0 60px;
}

#showcase_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    object-fit: fill;
}

.ingredient_description_container{
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content:space-between;
}

.ingredient_description_container div{
    padding: 20px 30px 0px 0px;
}

.review_container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.ingredient_review{
    padding: 20px 30px 0px 0px;
}

.last_section{
    display: flex;
    justify-content: space-evenly;
}

.news h1{
    font-size: 18px;
} 

.news p{
    font-size: 14px;
}

.email{
    flex-shrink: 1;
}

.email input[type="text"], .email textarea{
    padding: 8px;
    width: 100%;
}

.button{
    padding: 30px;
}

.button input[type="submit"]{
    padding: 10px 30px;
    font-size: 18px;
}
